html {
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    background-color: rgb(178, 182, 184);
    height: 107.64px; /*height: 15vh;*/
    display: flex;
    align-items: center;
}

.container_header {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
}

.logo {
    height: 84.09%;
}

#logo {
    height: 100%;
    width: 100%;
}

#middle {
    height: 60vh; /*height: 430.55px;*/
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row 30px;
    flex-direction: column 30px;
}

.container_main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 98.47869004761352%; /*height: 424px;*/
    width: 45.57291666666667%; /*width: 700px;*/
    column-gap: 2%;
}

.produto {
    height: 45.75471698113208%; /*height: 190px;*/
    width: 30.57142857142857%; /*width: 210px;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    border: 2px solid black;
    border-radius: 7px;
    transition-property: width, height;
    transition-duration: 0.25s;
}

.produto:hover {
    width: 230px;
    height: 210px;
}

.img_produto {
    height: 79%; /*height: 150px;*/
    width: 71%; /*width: 150px;*/
    border-radius: 3px;
}

#bottom {
    height: 179.4px; /*height: 25vh;*/
}